@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h2>Swagger</h2>
    <p><a href="/swagger">UI</a></p>
    <p><a href="/swagger/v1/swagger.json">json</a></p>

    <h2>Scalar</h2>
    <p><a href="/scalar/v1">UI</a></p>
    
    <h2>Open API Spec</h2>
    <p><a href="/openapi/v1.json">JSON</a></p>


</div>
